* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header {
  width: 100%;
  height: 100%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 7%;
  gap: 13%;
}
#logo {
  font-size: 5vh;
  font-weight: 500;
  text-decoration: none;
  color: #050505;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
}
.search-box img {
  width: 10%;
}

.search {
  width: 100%;
  height: 1.6rem;
  border-radius: 25px;
  border: 1px solid #d0d0d0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
#Search-check {
  display: none;
}
.check svg {
  fill: #000000;
}
nav a {
  font-size: 19px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
}

nav #slidebar-active {
  display: none;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 100%;
  height: 200%;
  transition: all ease-in 0.3s;
  background-color: #818181;
  gap: 2%;
}
.links a {
  padding: 20px 30px;
  text-align: center;
  color: #fff;
}
.close svg {
  margin-top: 30px;
  fill: #fff;
}
.open svg {
  fill: #000000;
}
.open,
.close {
  display: block;
  padding: 20px;
}
#slidebar-active:checked ~ .links {
  right: 0px;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3rem;
}
.banner h3 {
  font-size: 2.7rem;
  text-align: center;
  font-weight: 400;
  margin-top: 2rem;
  font-size: 6vh;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.banner-img img {
  width: 31%;
  margin-top: 2%;
}
main {
  width: 100%;
  height: 100%;
}
.blog-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3rem;
  margin: 5% 0;
}
.blog-section h3 {
  font-size: 2.7rem;
  text-align: center;
  font-weight: 400;
  font-size: 6vh;
}
.blog-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.blog-box {
  max-width: 31%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #818181;
}
.blog-box img {
  width: 100%;
}
.blog-text {
  padding: 6%;
}
.blog-box h1 {
  font-size: 26px;
  font-weight: normal;
  line-height: 35px;
  color: #000000;
  max-width: 100%;
}
.blog-box p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 1.5rem;
  color: #818181;
  padding-bottom: 5%;
}
a.blog-link {
  font-size: 17px;
  font-weight: 500;
  margin-top: 1.5rem;
  color: #000000;
  text-decoration: none;
}
a.blog-link:hover {
  font-size: 17px;
  font-weight: 600;
  transition: all ease-in 0.2s;
}
.about-section {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  padding: 0 5%;
  margin: 5% 0;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.about-text h3 {
  font-size: 2.7rem;
  font-weight: 400;
}
.about-text p {
  font-size: 17px;
  max-width: 23rem;
  font-weight: 300;
  color: #818181;
  margin-top: 8%;
  line-height: 27px;
}
.about-text img {
  width: 90%;
}
.about-img img {
  width: 100%;
}
.courses-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-direction: column;
}
.courses-section h4 {
  font-size: 2.7rem;
  font-weight: 400;
}
.courses-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  margin: 5rem 5rem;
}
.courses-box {
  max-width: 46%;
  height: 450px;
  background-color: #fff;
  border: 1px solid #818181;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex-direction: column;
}
.courses-img {
  margin: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-text {
  padding: 6%;
}
.courses-text h1 {
  font-size: 26px;
  font-weight: normal;
  line-height: 35px;
  color: #000000;
  max-width: 100%;
}
.courses-text p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 1.5rem;
  color: #818181;
  padding-bottom: 5%;
}
.courses-text a {
  font-size: 17px;
  font-weight: 500;
  margin-top: 1.5rem;
  color: #000000;
  text-decoration: none;
}
.video-sec {
  width: 90%;
  margin-bottom: 5%;
  height: 35rem;
}
.video-sec iframe {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: 100%;
  background-color: #818181;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}
.footer-text {
  display: flex;
  gap: 10%;
  justify-content: center;
  max-width: 90%;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}
.footer-logo {
  max-width: 30%;
  width: 100%;
}
.footer-logo h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.footer-logo p {
  font-size: 16px;
  font-weight: 300;
  max-width: 70%;
  color: #fff;
  width: 100%;
  line-height: 28px;
  padding: 20px 0;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footer-contact h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.adress,
.phone,
.mail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.adress,
.phone,
.mail p {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
}
.footer-links h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
.footer-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  margin-top: 20px;
}
footer h5 {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  margin-top: 2rem;
}
@media (max-width: 973px) {
  #course {
    display: none;
  }
}
@media (max-width: 695px) {
  .search {
    display: none;
  }

  #Search-check:checked ~ .search {
    display: block;
    transition: all 0.3s;
  }
}
@media (max-width: 492px) {
  #logo {
    font-size: 130%;
  }
  .open {
    padding: 0;
  }
}
@media (max-width: 450px) {
  nav {
    margin-top: 5%;
    flex-direction: column;
  }
  .search-box {
    padding-top: 5%;
  }
  .open {
    padding-top: 2%;
  }
}
@media (max-width: 473px) {
  .banner-img {
    flex-direction: column;
  }
  .banner-img img {
    width: 80%;
  }
}
@media (max-width: 786px) {
  .blog-cont {
    flex-direction: column;
    gap: 5vh;
  }
  .blog-box {
    max-width: 90%;
    width: 100%;
    height: 0%;
    flex-direction: row;
  }
}
@media (max-width: 670px) {
  .about-section {
    flex-direction: column;
    gap: 1.8rem;
  }
}
@media (max-width: 987px) {
  .courses-cont {
    flex-direction: column;
    gap: 5vh;
  }
  .courses-box {
    max-width: 90%;
    width: 100%;
    height: 0%;
    flex-direction: row;
    gap: 15%;
  }
  .courses-img img {
    width: 380%;
  }
}
@media (max-width: 855px) {
  .courses-cont {
    flex-direction: column;
    gap: 5vh;
  }
  .courses-box {
    max-width: 90%;
    width: 100%;
    height: 0%;
    flex-direction: column;
    gap: 15%;
  }
  .courses-img img {
    width: 50%;
  }
}
@media (max-width: 591px) {
  .courses-cont {
    flex-direction: column;
    gap: 5vh;
  }
  .courses-box {
    max-width: 100%;
    width: 100%;
    height: 0%;
    flex-direction: column;
    gap: 15%;
  }
  .courses-img img {
    width: 80%;
  }
  .courses-img {
    flex-direction: row;
  }
}
@media (max-width: 393px) {
  .courses-img img {
    width: 5rem;
  }
}
@media (max-width: 786px) {
  .footer-text {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200%;
    max-width: 100%;
  }
  .footer-logo p {
    width: 100%;
    text-align: center;
  }
  .footer-contact {
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    align-items: center;
    margin-top: 2rem;
  }
  footer h5 {
    text-align: center;
  }
}
@media (max-width: 318px) {
  .footer-media {
    flex-direction: column;
    margin-top: 2rem;
  }
}
@media (max-width: 911px) {
  nav {
    gap: 7%;
  }
}
